<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mytripplanner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mytripplanner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mytripplanner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mytripplanner</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:j1zupqzyao.database.windows.net,1433;Initial Catalog=tripplannerdb;User ID=julien.lebot@j1zupqzyao;Password=BQg5Y#_][9NwE%$Y^g-rwX78X?+!bqg\We4XpA(Y+kCPc)S+aC!{.C}*j~Sm;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:j1zupqzyao.database.windows.net,1433;Database=tripplannerdb;User ID=julien.lebot@j1zupqzyao;Password=BQg5Y#_][9NwE%$Y^g-rwX78X?+!bqg\We4XpA(Y+kCPc)S+aC!{.C}*j~Sm;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TravelPlanner.Data.TravelPlannerDbContext, TravelPlanner" MigrationConfiguration="TravelPlanner.Migrations.Configuration, TravelPlanner" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:j1zupqzyao.database.windows.net,1433;Database=tripplannerdb;User ID=julien.lebot@j1zupqzyao;Password=BQg5Y#_][9NwE%$Y^g-rwX78X?+!bqg\We4XpA(Y+kCPc)S+aC!{.C}*j~Sm;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>